# TEST
nose
coverage
# LINT OR DIE
flake8
pep8
pyflakes
# LIBS
numpy
scipy
joblib
networkx
pandas
matplotlib
pygraphviz
ipykernel
networkx
# DOCUMENTATION
sphinx
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinxcontrib-blockdiag
sphinx-sitemap
nbsphinx
# PUBLISHING
twine